/* create_account_page.css */
main{
  position: absolute;
  width: 1280px;
  height: 720px;
  left: 0px;
  bottom: 0px;
  background: #E0E0E0;
}
.main_text2 {
   /* Auto layout */
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   position: absolute;
   left: 440px;
   top: calc(50% - 300px); /* Adjusted top position to center the text vertically */
   width: 550px;
   height: 100px;
   font-family: var(--font-Aldrich);
   font-style: normal;
   font-weight: 400;
   font-size: 96px;
   line-height: 94px;
   text-align: center;
   color: #000000;
   flex: none;
   order: 0;
   flex-grow: 0;
}

.frame{
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 38px 20px;
  gap: 10px;
  isolation: isolate;
  position: absolute;
  width: 600px;
  height: 400px;
  left: 450px;
  top: calc(50% - 386px/2 + 108px);

  /* background/white */
  background: #FFFFFF;
  /* border/gray 30 */
  border: 1px solid #C6C6C6;
  border-radius: 15px;

  /* font */
  font-family: var(--font-Roboto);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.inputButton{
  background-color: #ffffff;
  height: 50px; /* Set a constant height for inputButton */
  width: 484px;
  border-radius: 12px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}