body{
    /* desktop frame */

    position: absolute;
    width: 1280px;
    height: 720px;
    left: 0px;
    bottom: 0px;

    /* figma/black 5 */
    background: #E0E0E0;
}
.main_text{

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    left: 470px;
    top: 170px;

    width: 550px;
    height: 100px;

    font-family: var(--font-Aldrich);
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 94px;
    /* identical to box height */
    text-align: center;

    /* common/black */
    color: #000000;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.default_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;

    position: absolute;
    width: 300px;
    height: 60px;
    left: 610px;
    top: 380px;

    /* secondary/default */
    background: #6B6B6B;
    border-radius: 12px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    /* Other/Button */
    font-family: var(--font-Roboto);
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    /* identical to box height, or 143% */
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 40px;

    /* Palette/Gray/White */
    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.radioButton{

    position: absolute;
    width: 15px;
    height: 15px;
   
    align-items: center;
    /* Oval */

    box-sizing: border-box;

    position: absolute;
    left: 110px;
    right: 12.5%;
    top: 20px;
    bottom: 12.5%;
    border-radius: 16px;

    /* Palette/Gray/White */
    border: 3px solid #FFFFFF;

}
/*Create_account_page.js*/
.main_text2{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    position: absolute;
    left: 440px;

    width: 550px;
    height: 100px;

    font-family: var(--font-Aldrich);
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 94px;
    /* identical to box height */
    text-align: center;

    /* common/black */
    color: #000000;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.frame{
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 38px 58px;
    gap: 10px;
    isolation: isolate;

    position: absolute;
    width: 600px;
    height: 386px;
    left: 450px;
    top: calc(50% - 386px/2 + 108px);

    /* background/white */
    background: #FFFFFF;
    /* border/gray 30 */
    border: 1px solid #C6C6C6;
    border-radius: 15px;

    /*font*/
    font-family: var(--font-Roboto);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}
.inputBox{
    background-color:#ffffff;
    height:50px;
    width:484px;
    border-radius:12px;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    display:flex;
    flex-direction:column;
}
.inputButton{
    background-color:#ffffff;
    height:20px;
    width:484px;
    border-radius:12px;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    display:flex;
    flex-direction:column;
}
.loginButton{

    height:40px;
    width:528px;
    border-radius:12px;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    display:flex;
    flex-direction:column;

    /* secondary/default */
    background: #6B6B6B;
    border-radius: 12px;
    
    align-items: center;
    text-align: center;
    
    /* Palette/Gray/White */
    color: #FFFFFF;
}
/*Signup_page*/
.inoperativeButton{
    height:40px;
    width:528px;
    border-radius:12px;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    display:flex;
    flex-direction:column;
    border-style:hidden;
    /* secondary/default */
    background: rgba(107, 107, 107, 0.30000001192092896);
    
    align-items: center;
    text-align: center;
    
    /* Palette/Gray/White */
    color: #FFFFFF;
}
.frame2{
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 38px 58px;
    gap: 10px;
    isolation: isolate;
    position: absolute;
    width: 600px;
    height: 800x;
    left: 450px;
    top: calc(50% - 386px/2 + 108px);

    /* background/white */
    background: #FFFFFF;
    /* border/gray 30 */
    border: 1px solid #C6C6C6;
    border-radius: 15px;

    /*font*/
    font-family: var(--font-Roboto);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}




